{{!-- This is the post loop - each post will be output using this markup --}}
{{#foreach posts}}
<article>
    <section>
      <p>
        {{excerpt words="36"}}
        <br>
        <a href="{{url}}">read more &raquo;</a>
      </p>
    </section>
    <footer>
      <h5>{{author}} {{tags prefix=" on "}} <time class="small" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time></h5>
    </footer>
  <div class="post-title">
    <h1><a href="{{url}}">{{title}}</a></h1>
  </div>
</article>
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
