{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}
<div class="row">
  <div class="col-12">
    <h1>{{name}}</h1>
    <p>{{#if website}}<a href="{{website}}">{{website}}</a>。{{/if}}{{#if location}}{{location}}。{{/if}}{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</p>
    <p>{{#if bio}}{{bio}}{{/if}}</p>
  </div>
</div>
{{/author}}

{{!-- The main content area on the homepage --}}
<div class="row" role="main">
  {{!-- The tag below includes the post loop - partials/loop.hbs --}}
  {{> "simple_loop"}}
</div>
