{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="post-title">
  <h1><a href="{{url}}">{{title}}</a></h1>
</div>
<article  class="row" role="main">
  {{content}}
</article>
<hr>
<div class="row center">
  <div class="col-12">
    <h4>
      <span class="small">{{author}} at</span>
      <time class="small" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY MMM DD"}}</time>
      <span class="small">{{tags prefix=" | "}}</span>
    </h4>
  </div>
  <div class="col-12">
    {{! Disqus }}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    if(disqus_shortname && typeof disqus_shortname === "string") {
      var disqus_identifier = '{{post.id}}';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    }
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <div class="col-12">
    <h4>Share this post on</h4>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      Facebook
    </a>
    <a href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      Twitter
    </a>
  </div>
</div>
<div class="row center">
  <div class="col-6">
    {{#next_post}}
    <a href="{{url}}">
      <h5>&#10094;  {{title}}</h5>
    </a>
    {{/next_post}}
  </div>
  <div class="col-6">
    {{#prev_post}}
    <a href="{{url}}">
      <h5>{{title}}  &#10095;</h5>
    </a>
    {{/prev_post}}
  </div>
</div>
{{/post}}
